{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}

  <div class="sidebar-section">
    <h3>{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
    <ul class="nav__list">
      {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-section">
    <h3>{{ site.data.ui-text[site.locale].categories | default: "Categories" }}</h3>
    <ul class="nav__list">
      {% assign parent_categories = "诗歌|IT|散文" | split: "|" %}
      
      {% for parent_category in parent_categories %}
        {% assign posts_in_parent = site.categories[parent_category] %}
        {% if posts_in_parent %}
          <li>
            <a href="{{ site.baseurl }}/categories/{{ parent_category | slugify }}/">{{ parent_category }}</a>
            
            {% assign sub_categories = "" | split: "," %}
            {% for post in posts_in_parent %}
              {% if post.categories.size > 1 %}
                {% assign child_category = post.categories | last %}
                {% unless sub_categories contains child_category %}
                  {% assign sub_categories = sub_categories | push: child_category %}
                {% endunless %}
              {% endif %}
            {% endfor %}

            {% if sub_categories.size > 0 %}
              <ul class="nav__list nav__list--sub">
                {% for child_category in sub_categories %}
                  <li>
                    <a href="{{ site.baseurl }}/categories/{{ child_category | slugify }}/">{{ child_category }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

      {% comment %} Render other top-level categories that are not parents {% endcomment %}
      {% for category in site.categories %}
        {% unless parent_categories contains category[0] or category[0] == "星夜逃亡" or category[0] == "雕花铁栏杆的阴影" or category[0] == "静物" or category[0] == "存在" or category[0] == "短句" %}
           <li>
             <a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">{{ category[0] }}</a>
           </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>

  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}