/* ==========================================================================
   HOME PAGE LAYOUT
   ========================================================================== */

.page--home {
  .page__inner-wrap {
    width: 100%;
  }

  .page__content {
    width: 100%;
  }

  .page__title {
    font-size: 1.3671em; // 减小 30%
  }
}
