/* ==========================================================================
   HOME PAGE LAYOUT
   ========================================================================== */

.page--home {
  .page__inner-wrap {
    width: 100%;
  }

  .page__content {
    width: 100%;
  }
}
